<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hakanmovieapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/actor_stevebuscemi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateStudioActivity"></activity>
        <activity android:name=".StudioDetailActivity" />
        <activity android:name=".AddStudioActivity" />
        <activity android:name=".UpdateActorActivity" />
        <activity android:name=".AddActorActivity" />
        <activity android:name=".UpdateMovieActivity" />
        <activity android:name=".AddMovieActorActivity" />
        <activity android:name=".AddMovieActivity" />
        <activity android:name=".ActorDetailActivity" />
        <activity android:name=".MovieDetailActivity" />
        <activity android:name=".RandomMovieQuote" />
        <activity android:name=".StudioListItem" />
        <activity android:name=".ActorListItem" />
        <activity android:name=".MovieListItem" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudioActivity"
            android:label="@string/title_activity_studio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActorActivity"
            android:label="@string/title_activity_actor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MovieActivity"
            android:label="@string/title_activity_movie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>